
<h1>Eligibility</h1>
	 <form>
	 <input type="radio" name="gender" value="Yes"> Yes<br>
	 <input type="radio" name="gender" value="No"> No<br>
	 </form>
	 <strong>Reasons Screen Not Done</strong>
	 <br>
	 (Check Box that Applies)
	 <form>
	 	<input type="checkbox" name="declineOrDeffered"> Decline/deferred (Complete Decline / Defer Form))
	 	<br>
	 	<input type="checkbox" name="Over7Days"> Infant in NICU/SCN/PICU over 7 days
	 	<br>
	 	<input type="checkbox" name="diagnosedPrenatally">Infant diagnosed prenatally with heart defect
	 	<br>
	 	<input type="checkbox" name="diagnosedByPhysicalExam">Infant diagnosed with heart defect by physical exam
	 	<br>
	 	<input type="checkbox" name="other">Other(ex. limb anomaly). Specify:
	 	<br>
	 	<textarea name="paragraph_text" cols="50" rows="10"></textarea>
	 </form>
