<div>
<form>
 <fieldset class="scheduler-border">
  <legend class="scheduler-border">Initial Screen</legend>
    <div class="row">
        <div class="col-sm-4">
            <p>Time of screen</p>
            <div class="input-group"
                moment-picker="ctrl.timepicker"
                format="HH:mm:ss">
                <span class="input-group-addon">
                    <i class="octicon octicon-clock"></i>
                </span>
                <input class="form-control"
                    placeholder="Select a time"
                    ng-model="ctrl.timepicker"
                    ng-model-options="{ updateOn: 'blur' }">
            </div>
        </div>
        <div class="col-sm-4 control-group">
            <form>
            <div class="form-group">
            <label class="control-label input-label" for="R_hand">R Hand:</label>
            <input type="text" class="form-control" id="R_hand_id">
            <label>Foot:</label>
            <input type="text" class="form-control" id="foot_id">
            </div>
            </form>
        </div>
        <div class="col-sm-4">
            <form>
                <div class="checkbox">
                <label><input type="checkbox" value="">Pass</label><br><br>
                </div>
                <div class="checkbox">
                <label><input type="checkbox" value="">Repeat</label><br><br>
                </div>
                <div class="checkbox">
                <label><input type="checkbox" value="" >Refer</label>
                </div>
            </form>
        </div>
    </div>
 </fieldset>
</form>
</div>