<h1>Newborn Screening Ontario Decline/Defer Form For Critical Congenital Heart Disease </h1>
<body>
Please have the form completed and returned to NSO if the parent/guardian declines or defers CCHD newborn screening.

<br>
<br>
<strong> I have been informed that:</strong>
<ol>
<li>
	Newborn screening for CCHD is a medical recommendation and is considered standard of care for every baby born in Ontario. My baby can look normal and still have CCHD, which can cause severe health problems and/or sudden infant death. The goal of CCHD screening is early detection - so that treatment can be started early and better health is achieved. 
</li>

<li>
	It is best to do newborn screening for CCHD between 24 to 48 hours of age. If my baby leaves the hospital before 24 hours of age, my health care provider should make arrangements to have the CCHD screen done when my baby is 24 &#45 48 hours of age.
</li>

<li>
	My baby&#39s CCHD screening results and screen positive follow up information are collected by NSO to ensure he or she has been effectively screened. NSO will also use this information to maintain the improve the quality of the CCHD newborn screening program. NSO is committed to keeping my baby&#39s information safe and confidential. NSO meets or exceeds all requirements set out in Ontario&#39s Personal Health Information Act, 2004, for the protection of personal health information.    
</li>

<li>
	This form will be sent to NSO to document that CCHD screening was offered to me, and if I have declined to make sure I am not contacted about this.
</li>
</ol>

<button type="button" class="btn btn-primary btn-block" ui-sref="/consent">Agree</button>