
<div class='row' id='aboutUsPage'>
    <div class='col-sm-6'>
         <div class="panel panel-default aboutPanel">
           <div class="panel-heading aboutPagePanelHeading" >
            <h3 class="panel-title">About Us</h3>
          </div>
          <div class="panel-body aboutPage-panel">
            <div><h4>Our Mission</h4>
                    <article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper nunc vitae enim scelerisque feugiat. 
                        Nulla commodo tellus nec lectus suscipit facilisis.</article>
            </div>
            <div><h4>Our Progress</h4>
                <article>
                    Morbi sit amet est tristique erat eleifend pretium. Sed facilisis ipsum luctus tortor lacinia, non varius urna vehicula. 
                    Etiam ut molestie est. Ut pharetra magna ac ex auctor venenatis. 
                    Donec pellentesque nulla non odio dictum congue. 
                    Nulla ultrices elementum eros, nec dignissim turpis sagittis eget. 
                    Praesent scelerisque, eros et pellentesque congue, lacus velit tincidunt massa, consectetur pharetra tortor nunc eget libero. Donec bibendum volutpat faucibus. Quisque viverra pulvinar massa ac fringilla. Praesent varius nisl maximus suscipit semper. 
                    Aliquam imperdiet leo ut mollis faucibus. Nunc sit amet ultrices lorem, vitae ultricies turpis.
                </article>
                <div>
                        <div class="firstProgessBlock">Presenting best recipes to you</div>
                        <div class="secondProgressBlock">Locating restaurants offering your best meal and stores with fresh ingredient</div>
                        <div class="thirdProgessBlock">Connecting our app to your cooker to cook your meal at the right temperature</div>
                </div>
           
            <div><h4><u><a sref="">Become a supporter</a></u></h4>
                <article>Suspendisse arcu turpis, congue vel velit non, facilisis viverra nunc. 
                    Duis a magna ac sapien hendrerit tincidunt. 
                    Duis diam purus, congue in malesuada vitae, malesuada eget ipsum. 
                    Sed quis rhoncus justo.</article>
            </div>
        </div>
      </div>
  </div>
  </div>
  <div class='col-sm-6'>
        <div class="panel panel-default aboutPanel">
          <div class="panel-heading aboutPagePanelHeading">
            <h3 class="panel-title">Our Team</h3>
          </div>
         <div class="panel-body aboutPage-panel">
            <div><img src='../../assets/img/kitchaLogo.png'><br>
                <h4>CEO</h4>
            </div>
            <div><h4>Background</h4>
                <pre>Full Stack Engineer, Network Administrator.
                     Univerity of Ottawa, Canada.
                     Email: kitcha@kitcha.com
                </pre>
            </div>
            <div><h4>A word from kitchA</h4>
                <article>
                    Morbi sit amet est tristique erat eleifend pretium. 
                    Sed facilisis ipsum luctus tortor lacinia, non varius urna vehicula. 
                    Etiam ut molestie est. Ut pharetra magna ac ex auctor venenatis. 
                    Donec pellentesque nulla non odio dictum congue. 
                    Nulla ultrices elementum eros, nec dignissim turpis sagittis eget. Praesent scelerisque, eros et pellentesque congue, lacus velit tincidunt massa, consectetur pharetra tortor nunc eget libero. 
                    Donec bibendum volutpat faucibus. 
                    Quisque viverra pulvinar massa ac fringilla. 
                </article>
            </div>
         </div>
     </div>
  </div>
</div>
<style>
    .panel-title{
        text-align: center;
        font-style: oblique;
        font-size: 30px;
        ;
    }
    .panel-heading{
        background-color:rgb(0,83,76);
    }
    .panel-body{
       
    }
</style>