@using System.Collections.Generic
@model System.Collections.Generic.IEnumerable<NetAlertsWeb.Models.BTaskManager>

@{
    ViewData["Title"] = "Index";
}

<h1>Task list</h1>


<div class="col-md-4">
    <div class="btn btn-primary" href="/Create">Enter a new birth</div>
</div>



<form>
    <label asp-for=""></label>
    <button type="submit" class="btn btn-primary"></button>
</form>
